[submodule "orchestrator"]
	path = orchestrator
	url = https://github.com/wiesenthal/AI-Voice-Chat-orchestrator.git
[submodule "brain"]
	path = brain
	url = https://github.com/wiesenthal/AI-Voice-Chat-brain.git
